body {
    font-size: 14px;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

a {
    color: #00B7FF
}

h1 {
    color: teal;
}

.card-title.add-project {
    color: #000;
    text-shadow: 2px 2px 4px rgb(1, 1, 1);
    font-size: 24px;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 70%;
    left: 40%;
}