<h1>Bienvenidos al Himalaya!</h1>
<h2>Yo soy {{Name}} {{Lastname}}</h2>
<p> Me gusta jugar Call Of Duty Mobile, por si quiere jugar conmigo este es mi nickname {{COD}}</p>
<p>Actualmente soy {{Occupation}}</p>