<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css'/>
    <link rel='icon' type="image/png" href="https://www.flaticon.es/iconos-gratis/zoologia">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
